.primary_text{
    color: white;
    animation: text-animation 800ms ease-in-out;
}

@keyframes text-animation{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    80%{
        opacity: 1;
        transform: translateY(-10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}